<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>

    <main class="container">
      <p>
        Добро пожаловать на официальный сайт Школы Точных Наук
      </p>
      <p>
        В учебном центре ученики начальных и старших классов изучают новые дисциплины или подтягивают знания в уже знакомых темах школьного курса. Мы также предоставляем возможность принять участие в дистанционных олимпиадах по разным направлениям. Присоединившись к нам, вы сполна можете реализовать свой потенциал в естественных науках и открыть для себя новое.
      </p>
      <p>
        Ждём вас в нашей команде!
      </p>
      <%- include('../partials/go-to-website-button'); %>
    </main>

  </body>
</html>

<style>
	main p {
		font-weight: 500;
		color: black;
		font-size: 17px;
	}
	p:not(:last-child) {
		margin-bottom: 30px;
	}
</style>
