<a class="link-button" href="<%= locals.linkButtonLink || process.env.FRONTEND_DOMAIN %>">
  <%= locals.linkButtonText %>
</a>

<style>
  .link-button {
    display: block;
    margin: 0 auto;
    padding: 15px 70px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    background-color: #4579de;
    text-decoration: none;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 31px;
    max-width: fit-content;
    border-radius: 10px;
  }
</style>
